#my-account {

  width: 100%;
  padding: 12px;

  span {
    display: block;
  }

  table {
    width: 100%;
  }

  div.col-md-6 {
    padding: 0;
  }

}

#my-orders {
  width: 100%;
  padding: 12px;
}