@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.rowC {
  display: flex;
}

.colC {
  display: flex;
  flex-direction: column;
}

aside a img {
  max-width: 100%;
}

@import "admin/index";
@import "frontend/frontend";